/NeonShooter.Core/bin/Debug/net6.0-windows/NeonShooter.Core.dll
/NeonShooter.Core/bin/Debug/net6.0-windows/ref/NeonShooter.Core.dll
/NeonShooter.Core/obj/Debug/net6.0-windows/ref/NeonShooter.Core.dll
/NeonShooter.Core/obj/Debug/net6.0-windows/NeonShooter.Core.dll
/NeonShooter.WindowsDX/bin/Debug/net6.0-windows/NeonShooter.Core.dll
/NeonShooter.Core/bin/Debug/net6.0-windows/NeonShooter.Core.pdb
/NeonShooter.Core/obj/Debug/net6.0-windows/NeonShooter.Core.pdb
/NeonShooter.WindowsDX/bin/Debug/net6.0-windows/NeonShooter.Core.pdb
/NeonShooter.WindowsDX/obj/Debug/net6.0-windows/NeonShooter.WindowsDX.csproj.AssemblyReference.cache
/NeonShooter.WindowsDX/bin/Debug/net6.0-windows/NeonShooter.WindowsDX.dll
/NeonShooter.WindowsDX/obj/Debug/net6.0-windows/NeonShooter.WindowsDX.dll
/NeonShooter.WindowsDX/bin/Debug/net6.0-windows/NeonShooter.WindowsDX.pdb
/NeonShooter.WindowsDX/obj/Debug/net6.0-windows/NeonShooter.WindowsDX.pdb
/Monogame.sln.DotSettings.user
/NeonShooter.WindowsDX/obj/
/NeonShooter.Core/obj/